<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Student Registration Form </title>
  <link rel="stylesheet" href="/home/ramanujam/Pictures/student-registration-form-in-html-and-css/style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<html>
<head>
<title>Student Registration Deletion</title>
</head>

<body style="background-color:rgb(80, 87, 83);color:aliceblue;">
<h3>STUDENT REGISTRATION DELETION FORM</h3>
<form method ="get" action="deleteUser">

<tr>
<td>
 Enter Your Register Number:</td><td> <input type="text" name ="registerNumber">
 </td>
</tr>
<button type="submit" >Delete</button>
</form>